{% include base_path %}

{% assign teaser = post.header.teaser | default: site.teaser %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Thumbnail -->
    {% if post.thumbnail %}
      <div class="archive__item-teaser">
        <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
      </div>
    {% elsif include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}" alt="{{ post.title }}">
      </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    <!-- Read time -->
    {% if post.read_time %}
      <p class="page__meta">
        <i class="fa fa-clock" aria-hidden="true"></i>
        {% include read-time.html %}
      </p>
    {% endif %}

    <!-- Date and venue -->
    {% if post.date %}
      <p class="page__date">
        Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}
      </p>
    {% endif %}

    <!-- Categories -->
    {% if post.categories %}
      <p class="project-categories">
        {% for cat in post.categories %}
          <span class="category">{{ cat }}</span>
        {% endfor %}
      </p>
    {% endif %}

  </article>
</div>
